[submodule "backend/qtty"]
	path = backend/qtty
	url = git@github.com:Siderust/qtty.git
[submodule "docker/deps/stars-core"]
	path = docker/deps/stars-core
	url = https://devops.ice.csic.es/stars/core.git
